/*start variables*/
:root{
    --main-color: #10cab7;
    --secondry-color:#2c4755;
    --gray-color:#777;
    --section-bgcolor:#fafafa;
    --main-transition:0.3s;
    --main-line-height:1.6;
    --secondry-line-height:1.8;
    --section-padding-top:60px;
    --section-padding-bottom:60px;
    --font-weight-8:800;
    --font-weight-6:600;
    --font-weight-4:400;
    --word-space:-1.75px;
}
/*End variables*/
/*Start of global Rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /*small screen*/
@media(min-width: 768px){
    .container{
        width:750px;
    }
}
    /*medium screen*/
@media(min-width:992px){
    .container{
        width:970px;
    }
}
    /*larg screen*/
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*End of Global Rules*/
/* start componant */
    .special-heading{
        color:#f6f6f6;
        font-size: 100px;
        font-weight: var(--font-weight-8);
        margin: 0;
        text-align: center;
        letter-spacing: -6px;
    }
    .special-heading + p{
        text-align: center;
        margin-top: -35px;
        font-size: 15px;
        font-weight:var(--font-weight-4);
        color:#575757;
    }
    @media(max-width:767px){
        .special-heading{
            font-size: 60px;
        }
        .special-heading +p{
            margin-top: -25px;
        }
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 20px;
}
/* end component */
/*Start Header*/
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position:relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height:2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width:50%;
    transition:var(--main-transition);
    -webkit-transition:var(--main-transition);
    -moz-transition:var(--main-transition);
    -ms-transition:var(--main-transition);
    -o-transition:var(--main-transition);
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon span:last-child{
    width:100%;
}
.header .links ul{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color:#f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top:calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    position: absolute;
    top: -20px;
    right:5px ;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6  transparent;
}
.header .links a{
    text-decoration: none;
    display: block;
    padding:15px;
    color: #333;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header .links ul li:hover a{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/*End Header*/
/* Start landing section */
.landing{
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    text-align: center;
    width:320px; 
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
}
.landing .intro-text p{
    line-height: var(--secondry-line-height);
    margin: 0;
    font-size: 19px;
}
/* End landing section */
/* start features */
.features{
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
.features .feat{
    padding:20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
    text-align: center;
    font-size: 50px;
}
.features .feat h3{
    font-weight: var(--font-weight-8);
    margin: 30px 0;
}
.features .feat p{
    line-height: var(--secondry-line-height);
    color: var(--gray-color);
    font-size: 17px;
}
/* end features */
/* Start Services */
.services{
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
.services .services-content{
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom:40px;
    margin-right: 20px;
}
@media (max-width:767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    font-size: 35px;
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}    
.services .services-content .srv h3{
    margin:0 0 20px;
}
.services .services-content .srv p{
    color: var(--gray-color);
    font-weight: 300;
    line-height: var(--main-line-height);
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image img{
    width:300px;
    height: 350px;
}
.services .services-content .col .image::before{
    content: "";
    position:absolute;
    width:100px;
    height: calc(100% + 100px);
    background-color:var(--secondry-color);
    top:-50px;
    right:0;
    z-index: -1;
}
@media (max-width:990px) and (max-width:1199px) {
    .image-control{
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio{
    padding-top:var(--section-padding-top);
    padding-bottom:var(--section-padding-bottom);
    background-color: var(--section-bgcolor);
}
.portfolio .container .portfolio-content{
    margin-top: 80px;
}
.portfolio .container .portfolio-content .card{
    background-color:white;
}
.portfolio .container .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .container .portfolio-content .card .info{
    padding:20px;
}
.portfolio .container .portfolio-content .card .info .h3{
    margin:0;
}
.portfolio .container .portfolio-content .card .info .p{
    line-height: var(--secondry-line-height);
    color:var(--gray-color);
    margin-bottom:0;
}
/* End Portfolio */
/* start about  */
.about{
    padding-top:var(--section-padding-top);
    padding-bottom:var(--section-padding-bottom);
}
.about .container .about-content{
    margin-top: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .container .about-content .image img{
    width:300px;
    height:300px;
}
.about .container .about-content{
    position: relative;
}
@media(max-width:991px){
    .about .container .about-content{
    flex-direction: column;
    text-align: center;
    }
}
.about .container .about-content .image{
    position:relative;
}
@media(max-width:991px){
    .about .container .about-content .image{
        margin-bottom: 30px;
    }
}
.about .container .about-content::before{
    content: "";
    position: absolute;
    width:80px;
    height: 380px;
    background-color:#f6f6f6;
    top:-40px;
    left:-15px;
    z-index: -1;
}
.about .container .about-content .image::before{
    content: "";
    position: absolute;
    width:60px;
    height: 250px;
    background-color:var(--main-color);
    top:-20px;
    right:-20px;
    z-index: -1;
}
.about .container .about-content .image::after{
    content: "";
    position: absolute;
    width:100px;
    height:50px;
    background-color:var(--main-color);
    top:200px;
    right:-70px;
    z-index: -1;
}
@media(max-width:991px){
    .about .container .about-content::before,
    .about .container .about-content .image::before,
    .about .container .about-content .image::after{
        display: none;
    }
}
.about .container .about-content .text{
    flex: 1;
    padding-left: 200px;
    margin-top: -10px;
}
@media(max-width:991px){
    .about .container .about-content .text{
        text-align: center;
        padding-left: 0;
    }
}
.about .container .about-content p:first-of-type{
    font-weight: var(--font-weight-6);
    line-height: var(--main-line-height);
    margin-bottom: 50px;
}
.about .container .about-content .text hr{
    display: inline-block;
    border-color: var(--main-color);
    width: 50%;
}
.about .container .about-content p:last-of-type{
    line-height: var(--main-line-height);
    color: #a7a7a7;
}
/* end about */
/* start contact */
    .contact{
        padding-top:var(--section-padding-top);
        padding-bottom:var(--section-padding-bottom);
        background-color:var(--section-bgcolor);
    }
    .contact .container .text{
        padding-left:100px;
        padding-top: 30px;
    }
    @media(max-width:767px){
        .contact .container .text{
            text-align: center;
            padding-left:0;
        }
    }
    .contact .container .text p:first-child{
        color: #2c4755;
        font-weight: var(--font-weight-8);
        font-size: 30px;
        word-spacing: -2.5px;
        letter-spacing: -1.75px;
        line-height: 1;
        margin-bottom: 15px;
    }
    @media(max-width:767px){
        .contact .container .text p:first-of-type{
            font-size:22px;
        }
    }
    .contact .container .text p + a{
        text-decoration: none;
        color: var(--main-color);
        font-size: 25px;
        font-weight: var(--font-weight-6);
        letter-spacing: -1.2px;
        line-height: 1.2;
        background-color:#ffffff;
        padding-left: 25px;
    }
    @media(max-width:767px){
        .contact .container .text a:first-of-type{
            font-size:20px;
            padding-left: 10px;
        }
    }
    .contact .container .social{
        padding-left:150px;
        font-size: 10px;
        word-spacing: 0.5px;
        margin-top:18px;
    }
    @media(max-width:767px){
        .contact .container .social{
            padding-left: 15px;
            text-align: center;
        }
    }
    .contact .container .social i{
        color:var(--secondry-color);
        margin-right: 5px;
        margin-left: 5px;
        word-spacing: var(--word-space);
    }
/* end contact */
/* start footer*/
    .footer{
    background-color: var(--secondry-color);
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: var(--word-space);
}
.footer span{
    color: var(--main-color);
}
/* end footer */
